html body
* {
  font-family: 'Saira Condensed', sans-serif;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.usercard{
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
  margin-left: 40%;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 20px;
}

p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

h1{
  color: navy;
  font-size: 3rem;
  text-align: center;
}